@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /* Default font */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); /* Nav font */
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap'); /* Artikel font */

:root {
    --page-bg-color: rgb(32, 67, 147);
    --nav-bg-color: #DCE4F2;
    --nav-bg-hover: #c6cdda;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--page-bg-color);
    animation-name:bodybackground;
    animation-duration :3s;
    animation-iteration-count: infinite;
    position: relative;
    overflow-x: hidden;
    font-size: 13px;
    height: 100vh;
}
@keyframes bodybackground {
    0% {background-color: rgb(32, 67, 140);}
    25% {background-color: rgb(32, 67, 110)} 
}

section {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}
nav {
    background-color: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
}
nav ul {
    font-size: 23px;
    list-style-type: none;
}
nav li {
    position: relative;
    display: inline-block;
    color: #000;
    cursor: pointer;
    padding: 10px;
}
nav li a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif;
}

#navbar-toggle-cbox {
    display:none
}
#collapse-toggle {
    padding: 10px;
}

.dropdown-content {
    margin-top: 10px;
    display: block;
    position: absolute;
    background-color: var(--nav-bg-color);
    min-width: 160px;
    z-index: 1;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s linear;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.dropdown-content a:hover {
    background-color: var(--nav-bg-hover);
}

.dropbtn:hover .dropdown-content {
    height: 120px;
}
.container {
    margin: auto;
    width: 1200px;
    box-sizing: border-box;
    margin-bottom: 65px;
}
.flex-container {
    margin: auto;
    margin-bottom: 65px;
}
.artikel {
    height:300px;
    margin: 10px;
    background-color: #DCE4F2;
    box-shadow: 10px 10px #6D7E8C;
    border-radius: 5px;
    animation-name:artikelunhover;
    animation-duration:0.5s;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden;
}
.artikel .background-image {
    object-fit:cover;
    width:100%;
    height:100%;
    top:0px;   
    position:absolute; 
    transition: all .4s ease-in-out;
}
.artikel:hover .background-image {
    transform: scale(1.1);
}
.artikel h2 {
    position:absolute;
    bottom:0;
    font-family: 'Patua One', cursive;
    font-size:40px;
    color:white;
    font-style:bold;
    padding:10px;
    -webkit-text-stroke: 1px black;
}
.red {
    color:red;
}
.het-weer {
    padding: 0 20px;
    margin-bottom: 10px;
}
.het-weer h2 {
    text-align: center;
    margin-bottom: 5px;
}
.het-weer li {
    display: flow-root;
} 
.right {
    float: right;
}
.left {
    float: left;
}
@keyframes invliegen {
    0% {
        margin-left:-2000px;
    }
    100% {
        margin-left:0px;
    }
}
.artikel:hover {
    animation-name:artikelhover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}
@keyframes artikelhover {
    0% {box-shadow:10px 10px#6D7E8C; }
    100% {box-shadow:5px 5px#6D7E8C;}
  }
@keyframes artikelunhover {
    0% {box-shadow:5px 5px#6D7E8C;}
    100% {box-shadow:10px 10px#6D7E8C;}
}

.artikel-sport {
    width: 100%;
    border-bottom: #333 1px solid;
}
.artikel-sport p {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
}
.artikel-sport h2 {
    padding: 5px 5px 0px 5px;
    transition: color 0.2s linear;
}
.artikel-sport h2:hover {
    color: teal;
    cursor: pointer;
}
#live {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    width: 400px;
    height: 100%;
    background-color: #c6cdda;
    position: relative;
    float: left;
    font-size: 18px;
}
.hor-row {
    width: 50%;
}
#live ul{
    list-style-type: none;
}
#live span {
    color: #333;
}
.sport-articles-container {
    background-color: #fffffe;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:none;
    position:relative;
    overflow:hidden;  
}

header .krant {
    position: absolute;
    animation-name:vliegende_krant;
    animation-duration:5s;
    animation-iteration-count: infinite;
}
header #krant1 {
    top :20px;

}
header #krant2 {
    top:150px;
    animation-delay:-1s;
}
header #krant3 {
    top:220px;
    animation-delay:-2s;
}
header #krant4 {
    top:10px;
    animation-delay:-3s;
}
@keyframes vliegende_krant {
    0% {margin-left:-50px;opacity:1;transform: rotate(0deg)}
    100%{margin-left:1500px; opacity:0;transform: rotate(1000deg)}
}
#headernews {
    background-image:url("img/banner1.jpg");
    background-size:cover;
    min-height: 300px;
    background-position: center;
    opacity:0.5;
    position:relative;
}
#headersport {
    background-image:url("img/sport.jpg");
    background-size:cover;
    min-height: 300px;
    background-position: center;
    opacity:0.5;
    position:relative;
}

#headertext {
    position: absolute;
    margin:20px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    color:#DCE4F2;
    /* -webkit-text-stroke: 2px black; */
    font-size:50px;
    top:0;
}

footer {
    background-color: #DCE4F2;
    display: flex;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    bottom:0;
    width:100%;
    font-size:13px;
}

footer #searchbar {
    border:none;
    border-bottom: 2px solid grey;
    padding: 5px;
    width: calc(100% - 20px);
    padding-left: 10px;
    background-color: #DCE4F2;
    
}
footer ul {
    float:left;
    list-style-type:none;
}
#contactpagina {
    display:flex;
    flex-direction: column;
    padding:0;
    flex-wrap:wrap;
    align-items:stretch;
}
#contactpagina #infovak {
    background: url("img/krant.jpg");
    color:white;
    padding-top:60px;
    background-size:cover;
}
#contactpagina #infovak .contact ul {
    list-style-type: none;
}
#contactpagina #contactformulier form{
    display:flex;
    flex-direction:column;
    justify-content:start;
    width:100%;
    padding:0;
}
#contactpagina #contactformulier .text-input, .input, .submitbutton  {
    margin:10px;
}
#contactpagina #contactformulier .text-input input,textarea {
    width:calc(100% - 20px);
    padding:10px;
    padding-left:4px;
    border:none;
    border-bottom:2px solid grey;
    background-color : #DCE4F2;

}
#contactpagina #contactformulier .text-input input:hover,textarea:hover {
    animation-name:inputhover;
    animation-duration:0.7s;
    border-bottom:2px solid black;
    background-color: rgba(220, 228, 242, 0.767);

}
@keyframes inputhover {
    0% {
        border-bottom:2px solid grey;
        background-color : #DCE4F2;
    }
    100% {
        border-bottom:2px solid black;
        background-color: rgba(220, 228, 242, 0.767);
    }
}
#contactpagina {
    display:flex;
    flex-direction:column;
}
#contactpagina #contactformulier .submitbutton {
    width:200px;
    background-color:rgb(14, 82, 31);
    padding:10px;
    border-radius:5px;
    font-size:20px;
    border:none;
}
#contactpagina #contactformulier .submitbutton:hover {
    background-color:green;
}
#bedanktbericht {
    font-size:30px;
    width:100%;
    padding:20px;
    text-align:center;
    animation:invliegen;
    animation-duration:2s;
}
#bedanktbericht h2{
    color:black;
    
    padding:10px;

}
#bedanktbericht h2 a {
    text-decoration:none;
}
#bedanktbericht h2:hover {
    animation-name:jump;
    animation-duration:0.6s;
    animation-iteration-count: infinite;
    color:darkblue;
}   
@keyframes jump {
    0% {
        padding:10px;
    }
    50% {
        padding:0px;
    }
    100% {
        padding:10px;
    }
}

@media only screen and (min-width: 700px) {
    section {
        flex-direction: row;
        justify-content: center;
    }

    .artikel {
        width: 450px;
    }

    nav {
        flex-direction: row;
        padding-left: 50px;
    }
    nav li:not(:last-child):before {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        margin-left: 10px;
        height: 2px;
        bottom: 5px;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
      
    nav li:not(:last-child):hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    #collapse-toggle {
        display: none;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer #searchbar {
        width: 400px;
        margin:0;

    }
    header {
        display:block;
    }
    #contactpagina {
        flex-direction:row;
        

    }
    #contactpagina #infovak {
        width:400px;
        

        margin:0;
    }
    #contactpagina #contactformulier {
        flex-grow:1;
        margin:0;
    }
}
@media only screen and (max-width: 699px) {   
    #toggle-off {
        display: none;
    }
    #collapse-toggle {
        display: block;
        cursor: pointer;
    }
    #main-menu {
        display: block;
        height: 0px;
        overflow: hidden;
        transition: all 0.5s linear;
    }
    nav li {
        display: block;
    }
    nav #main-menu>li:hover {
        background-color: var(--nav-bg-hover);
    }
    .dropdown-content {
        position: relative;
        height: auto;
        padding-left: 10px;
        transition: none;
        border-left: 2px solid black;
    }
    .dropbtn > a > i {
        display: none;
    }
    #navbar-toggle-cbox:checked ~ #main-menu {
        display: block;
        height: 323px;
    }
    #navbar-toggle-cbox:checked ~ label>#toggle-off {
        display: block;
    }
    #navbar-toggle-cbox:checked ~ label>#toggle-on {
        display: none;
    }
    .hor-row {
        width: 100%;
    }
    
}
@media only screen and (max-width: 1200px) { 
    #live {
        display: none;
    }
    .container {
        width: 100%;
    }
}